* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: 5%;
  padding: 10px;
  height: 90%;
  width: 90%;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.01);
  display: flex;
  flex-direction: row;
}

.hidden {
  display: none;
}

.left-page {
  width: 35%;
  height: 650px;
  /* 세로 배치를 위해 Flexbox 사용 */
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

#image {
  margin-bottom: 20px;
  border-radius: 15px;
  width: 100%;
  height: 20%;
}

#greeting {
  font-size: 20px;
  margin-bottom: 20px; /* greeting 아래 여백 */
  padding: 20px; /* 내부 여백 설정 */
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5); /* 투명한 박스 배경색 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 은은한 그림자 효과 */
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15%;
}

#login-form {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 16px; /* 모서리 둥글게 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.29); /* 그림자 효과 */
  padding: 10px 10px; /* 버튼 내부 여백 설정 (필요에 따라 조절) */
  transition: background-color 0.2s, opacity 0.2s, color 0.2s;
  margin-left: 20px;
  float: right;
  width: auto;
}
.logout {
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 16px; /* 모서리 둥글게 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.29); /* 그림자 효과 */
  padding: 10px 10px; /* 버튼 내부 여백 설정 (필요에 따라 조절) */
  transition: background-color 0.2s, opacity 0.2s, color 0.2s;
  margin-left: 20px;
  float: right;
  width: auto;
}
.login:hover {
  background-color: rgba(237, 236, 236, 0.647);
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
}

.name-input {
  margin-right: 20px;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 16px; /* 모서리 둥글게 */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.29); /* 그림자 효과 */
  padding: 10px 10px; /* 버튼 내부 여백 설정 (필요에 따라 조절) */
  transition: background-color 0.2s, opacity 0.2s, color 0.2s;
  width: 70%;
}

.name-input:hover {
  background-color: rgba(237, 236, 236, 0.647);
  color: rgba(0, 0, 0, 0.7);
  opacity: 0.8;
}

.name-input:focus {
  border: none;
  background: rgba(237, 236, 236, 0.647);
  outline: none;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 20px; /* clock 아래 여백 */
  padding: 20px; /* 내부 여백 설정 */
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5); /* 투명한 박스 배경색 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 은은한 그림자 효과 */
  max-width: 100%;
  height: 15%;
}

#weather {
  height: 20%;
  font-size: 1rem;
  margin-bottom: 20px; /* clock 아래 여백 */
  padding: 10px; /* 내부 여백 설정 */
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5); /* 투명한 박스 배경색 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 은은한 그림자 효과 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#weather-container {
  display: flex;
  flex-direction: column;
  margin: 5%;
  width: 50%;
}

#current-temp {
  margin-bottom: 10%;
  font-size: 2rem;
  text-align: center;
}

#current-place {
  font-size: 1rem;
  text-align: center;
}

#weather-icon {
  font-size: 18px;
  text-align: center;
  margin: 5%;
  width: 50%;
}

#quote {
  height: 20%;
  font-size: 16px;
  margin: auto; /* clock 아래 여백 */
  padding: 20px; /* 내부 여백 설정 */
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5); /* 투명한 박스 배경색 */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 은은한 그림자 효과 */
}

.right-page {
  /* 오른쪽 페이지 스타일 */

  flex: 3; /* 오른쪽 페이지가 남은 공간을 모두 차지하도록 설정 */
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.397);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 650px;
}

#todo-form {
  display: flex;
  justify-content: center;

  overflow: auto;
}

#todo-input {
  border: none;
  border-bottom: 2px solid grey;
  margin-bottom: 20px;
  margin-right: 15px;
  padding: 10px;
  text-align: center;
  width: 65%;
}

#todo-input:focus {
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid #e74c3c;
}

#todo-add {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  max-height: 70vh;
  overflow: auto;
}

#todo-list li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  width: 95%;
}

#todo-list li span {
  margin-right: 20px;
  text-align: left;
  flex: 8;
}

#todo-list button {
  border: none;
  background: none;
  cursor: pointer;
  flex: 2;
}
